[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
xstock_options = "Hc2qWi4vf3zng35gyucQNfZVi6ik7kkgwg3NonMsLcFJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm run mocha -t 1000000 tests/"
